.title {
    font-size: 30px;
    color: white;
}

.text {
    font-size: 20px;
    color: white;
}

.link {
    font-size: 20px;
   ;
}

.picture {
    height: 300px;
    width: 250px;
}

.weekly {
    flex: 50%;
    display: flex;
}

.column {
    column-count: 2;
}

.background {
   background-color: black;
   width: 100vw;
   min-height: 100vh;
}

.align {
    text-align: center;
}

.nav {
    background-color:#101010;
}